.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }

  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  .row {  
    display: flex;
    flex-wrap: wrap;
  }

  @media only screen and (max-width: 600px) {
    .main {
        flex: 100%;
      }
  }