.ConnectionBoxContainer {
    font-family: Cabin;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #111111;
}

.top {
    padding: 8px;
  font-weight: bold;
  border-bottom: solid 1px #ededed;
}
.ContentFistRow{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.CloudIcon{
width: 20px;
}
.TempText{
  font-family: Cabin;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: normal;
  color: #111111;
}

.CityText{
  font-family: Cabin;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  color: #111111;
}

.SpaceStatus{
  font-family: Cabin;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #b6b4b3;
}

.ConnectionContentBottomRow{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;

}

.PhotosSection{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 5px;
}
.PhotoContainer{
  width: 30px;
    height: 30px;
    float: left;
    margin-left: -5px;
}
.Photo{
  width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid white;
}